nav{
  height:50px;
  width:200px;
  display: flex;
  justify-content:space-evenly;
}
nav h4{
  margin-top:0px;
  text-decoration: none;
  margin-right: 0;
}
nav img{
  height:28px;
  width:40px;
}
.showMessage{
  text-align: center;
  color:red;
}
.registerForm{
  height:100%;
  width: 450px;
  border:2px solid rgb(120, 21, 207);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(120, 21, 207);
  box-shadow:3px 3px 8px rgb(120, 21, 207);
}
.registerForm h3{
  color:white;
}
.userLogo{
  margin-top:0;
}
.nameAndUsername{
   display: flex;
   margin-top:10px;
   width:405px;
   height:40px;
   margin-left:auto;
   margin-right:auto;
   justify-content: space-around;
}
.nameAndUsername ::placeholder{
  text-align: center;
}
.nameAndUsername input{
  width:170px;
  height:30px;
  margin-top:2px;
}
.nameAndUsername:hover{
  height:42px;
  width:410px;
}
.remaining input{
  height:28px;
  width:335px;
  margin-bottom:10px;
  border-radius:4px;
  border:1px solid #ccc;
  background: white;
} 
.remaining p{
  margin-top:0;
  color:red;
}
.field{
  height:40px;
  width:400px;
  display: flex;
  justify-content: space-evenly;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
}
.field:hover{
  height:45px;
  width:410px;
}
.field input{
  margin-top:5px;
}
.field img{
  height:30px;
  margin-top:6px;
}
button{
  height:36px;
  width:80px;
  border-radius:5px;
  border:1px solid white;
  background-color:white;
  margin-top:5px;
}
button:active{
  background-color:rgb(120, 21, 207);
  color:white;
} 
.loginBtn{
  background-color:transparent;
  color: white;
  height:25px;
  width:200px;
  border: 1px solid transparent;
} 
.loginBtn:active{
  background-color: white;
  color:rgb(120, 21, 207);;
}

/* Login form css code  */
.loginform{
  height:35 0px;
  width:400px;
  border:2px solid rgb(120, 21, 207);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(120, 21, 207);
  box-shadow:3px 3px 8px rgb(120, 21, 207);
  margin-top:50px
}
.loginform h3{
  color: white;
  font-size:20px;
}
.loginform h4{
  color: white;
  margin-top:0;
}
.username{
  display: flex;
  height:20px;
  width:190px;
  margin-left:auto;
  margin-right:auto;
  margin-top:1px;
  justify-content:space-evenly;
}
.username p{
  margin-top:-2px;
  font-size: large;
  color: white;
} 

/* Dashboard page button */

.dashboardBtn{
  background-color:rgb(120, 21, 207);
  color: white;
  position: absolute;
  right:0;
  top:0;
}

.dashboardBtn:active{
  background-color:white;
  color: rgb(120, 21, 207);
}
@media(max-width:430px) {
  .loginform{
   height:500px;
   width:auto;
  }
  .showMessage{
   font-size:12px;
  }
  .registerForm{
    width:auto;
    height:600px;
    margin-right:8px;
    overflow-y:hidden;
  }
  .remaining input{
    width:120px;
  }
  .field{
    width:200px;
  }
  .field:hover{
    width:220px;
  }
  .nameAndUsername{
    display: flex;
    justify-content:space-evenly;
    width:auto;
  }
  .nameAndUsername:hover{
    height:80px;
  }
  .nameAndUsername input{
    width:100px;
    font-size:13px;
  }
}